<!DOCTYPE html>
<html>
<head>
	<title>Profile Page</title>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/dacf88b734.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
<style>
body {
  font-family: "Lato", sans-serif;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
::-webkit-scrollbar{
      width: 0;
    }
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.font-size-29{
      font-size: 29px;
}
.projtitle{
      font-family: cursive;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body>





<div class="alert alert-info" role="alert">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-2 col-2">
          <div id="mySidenav" class="sidenav">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <a href="#">About</a>
              <a href="#">Services</a>
              <a href="#">Clients</a>
              <a href="#">Contact</a>
            </div>
            <span style="font-size:30px;cursor:pointer" class="icon" onclick="openNav()">&#9776; open</span>
          </div>
      <div class="col-md-10 col-sm-10 col-10">
        <h4 class="alert-heading">Welcome <%= data[0].name %> !!!</h4>
        <p class="bd-lead font-weight-lighter">Edit your Basic Profile Details.</p>
        <hr>
        <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
      </div>
  </div>
</div>
</div>


<div class="row">
  <div class="col-md-4 col-sm-4 col-1"></div>
  <div class="col-md-4 col-sm-4 col-10">
    <h4 class="font-weight-light lead projtitle font-size-29">General Settings</h4>
  </div>
  <div class="col-md-4 col-sm-4 col-1"></div>
</div>

  <div class="row">
  <div class="col-md-2 col-sm-2 col-1"></div>
  <div class="col-md-8 col-sm-8 col-10">
    <form action="/save-basic-profile" method="POST">
  <div class="form-group">
    <label for="exampleInputFullname">Full Name</label>
    <input type="text" class="form-control" id="exampleInputFullname" name="fname"
    placeholder= <%- JSON.stringify(data[0].name) %> >
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" placeholder=<%- JSON.stringify(data[0].email) %>>
  </div>
  <div class="form-group">
    <label for="exampleInputNumber">Mobile Number</label>
    <input type="number" class="form-control" id="exampleInputNumber" name="mobile"
    placeholder=<%- JSON.stringify(data[0].mobile) %>>
  </div>
  <div class="form-group">
    <label for="exampleInputText">Enrollment Number</label>
    <input type="text" class="form-control" id="exampleInputText" name="rollnum"
    placeholder=<%- JSON.stringify(data[0].rollnum) %>>
  </div>

  <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
  </div>
  <div class="col-md-2 col-sm-2 col-1"></div>
</div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>

var user_data = <%- JSON.stringify(data) %>;
doc.getElementById

function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}

</script>

</body>
</html>